* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.LOGO {
    font-size: 30px;
}

.navbar a {
    margin: 20px;
    position: relative;
    padding: 10px 13px;
}

.navbar a.active,
.navbar a:hover {
    color: #4DCCBD;
    border-radius: 5px;
    padding: 10px 13px;
}

.navbar a::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #FB4B4E;
    border-radius: 10px;
    transition: .4s;
}


.navbar a.active::after,
.navbar a:hover::after {
    width: 100%;
}


.About-section {
    height: 100vh;
    background-color: #0D2818;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
}

.Porfolio-section {
    height: 100vh;
    background-color: #058C42;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
}

.Services-section {
    height: 100vh;
    background-color: #16DB65;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
}

.contact-section {
    height: 100vh;
    background-color: #07BEB8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
}

#Home {
    background-color: #2374AB;
}